
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Slider container'ını tam genişlikte ve yükseklikte tutmak için */
.carousel {
  width: 100%;
  max-width: 100%;
  height: 100%; /* Yüksekliği istediğin gibi ayarlayabilirsin */
  overflow: hidden; /* Taşan içerikleri gizler */
}

/* Slider item'larının boyutunu tam genişlikte ve yükseklikte ayarlamak için */
.carousel-item {
  width: 100%;
  height: 100%;
}

/* Fotoğrafların slider'ı kaplayacak şekilde ayarlanması için */
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Resmin boyutlarını koruyarak tam container'ı kaplamasını sağlar */
}

.post {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
}

.post-content {
  margin: 10px 0;
}

.post-author, .post-date {
  font-size: 14px;
  color: #666;
}


footer {
  margin-top: 5%;
  background-color: beige;
}

/* Content kısmı için */
.content {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* İçeriğin uzunluğunu ayarlamak için */
}

.read-more {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.read-mores {
  
  font-weight: bold;
  color: #198754;
  text-decoration: underline;
  cursor: pointer;
}

/* Tarih ve yazar adı için */
.author, .date {
  color: white;
  font-weight: bold;
}


.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgb(168, 231, 191), rgb(33, 240, 54));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgb(168, 231, 191), rgb(33, 240, 54));

}


.margin-top-3 {
  margin-top: 5%; /* Üstten %3 boşluk */
  color: black;

}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 1s infinite; /* 1 saniye içinde yanıp söner, sonsuz tekrarlanır */
  color: #198754; /* İsteğe bağlı: Yeşil renk uygulamak için */
}


.navbar {
  margin-bottom: 3% !important;
  margin-top: 2% !important;
  padding-top: 1% ;
  padding-bottom: 1%;
  
  

}
 

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-item {
  color: #198754 !important; /* Bootstrap yeşil rengini kullanabilirsiniz */
}

.navbar .dropdown-item:hover {
  color: #145a32 !important; /* Hover rengi (daha koyu bir yeşil) */
}

.navbar .nav-link:hover {
  color: #145a32 !important;
}

.detailimg {
  margin-top: 2%;
  margin-bottom: 2%;
}

