.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Slider container'ını tam genişlikte ve yükseklikte tutmak için */
.carousel {
  width: 100%;
  max-width: 100%;
  height: 500px; /* Yüksekliği istediğin gibi ayarlayabilirsin */
  overflow: hidden; /* Taşan içerikleri gizler */
}

/* Slider item'larının boyutunu tam genişlikte ve yükseklikte ayarlamak için */
.carousel-item {
  width: 100%;
  height: 100%;
}

/* Fotoğrafların slider'ı kaplayacak şekilde ayarlanması için */
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Resmin boyutlarını koruyarak tam container'ı kaplamasını sağlar */
}

.post {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
}

.post-content {
  margin: 10px 0;
}

.post-author, .post-date {
  font-size: 14px;
  color: #666;
}


footer {
  margin-top: 5%;
  background-color: beige;
}